<div class="whitebox">
Milemeet is a social ride-share service connecting passengers and drivers to save, earn and connect. It is a social platform that allows people to earn money on the things they do on a daily basis, by providing services to people who really need it. The goal is to make everyone a micro-entrepreneur.
</div>
