<div class="whitebox">
	<h3>Want to go somewhere?</h1>
	<div id="to_from_container">
		<div class="from">
			<div class="input-label">From</div><input id='from_select' type="text" val="" />
		</div>
		<div class="to">
			<div class="input-label">To</div><input id='to_select' type="text" val="" />
		</div>
		<div class="when">
			<div class="input-label">When</div><input id='when_select' type="text" val="" />
		</div>
		<div style="position:absolute;bottom:0px;">
		<button class="black-button">Post a Ride</button><button class="black-button">Find a Ride</button>
		</div>
	</div>
</div>
<div style="clear:both"></div>
<div id='map_container' class='hidden'></div>
