<h1>Purchase Ride</h1>
<p>Your order total is ($50.00)</p>

<p>
  <%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :controller => 'payments', :action => 'checkout' %>
</p>

<p>Find me in app/views/payments/index.html.erb</p>
