<style type='text/css'>
.stuff {
	width: 1000px;
	margin:auto;
	background: #EEE;
	box-shadow : 0px 0px 5px 1px;
	border-radius:5px;
	padding: 20px;
	text-align:center;
}
</style>
<div class="stuff">
	Testing
</div>