h3 {
	padding-bottom: 10px;
}

#to_from_container {
	width: 250px;
	height:200px;
	text-align:center;
	position:relative;
}

div.from {
	margin-bottom:20px;
}

div.to{
	margin-bottom:20px;
}

div.rides-loading {
	opacity : 0;
	padding : 20px;
}

div.rides-loading > div {
	margin : 5px 0px;
}

#rides_list {
	float:none;
	display:none;
	padding : 0px;
}

h3 {
	padding-bottom: 10px;
}

#to_from_container {
	width: 250px;
	height:200px;
	text-align:center;
	position:relative;
}

div.from {
	margin-bottom:20px;
}

div.to{
	margin-bottom:20px;
}

#map_container {
	position:relative;
	width : 600px;
	height : 300px;
	padding:0px;
	border : 4px solid #CCC;
	float:right;
}

div.subpage-loading {
	opacity : 0;
	padding : 20px;
}

div.subpage-loading > div {
	margin : 5px 0px;
}


#subpage {
	display:none;
	padding : 0px;
}

#selection_box {
	width : 250px;
	margin:auto;
}

#selection_box input[type='text'] {
	border-radius: 0px 5px 5px 0px;
}

div.whitebox {
}
