<<<<<<< HEAD
div.whitebox {
	float:left;
	margin:20px; 
	border:1px solid #DDD;
	background:#FFF;
	padding:20px;
	text-align:center;
	box-shadow: inset 0px 0px 5px 0px #999;
	overflow:hidden;
}
h3 {
	padding-bottom: 10px;
}

#to_from_container {
	width: 250px;
	height:200px;
	text-align:center;
	position:relative;
}

div.from {
	margin-bottom:20px;
}

div.to{
	margin-bottom:20px;
}

#map_container {
	position:relative;
	width : 600px;
	height : 300px;
	padding:0px;
	box-shadow: 0px 0px 5px 0px #999;
	float:right;
}

div.rides-loading {
	opacity : 0;
	padding : 20px;
}

div.rides-loading > div {
	margin : 5px 0px;
}

#rides_list {
	float:none;
	display:none;
	padding : 0px;
=======

h3 {
	padding-bottom: 10px;
}

#to_from_container {
	width: 250px;
	height:200px;
	text-align:center;
	position:relative;
}

div.from {
	margin-bottom:20px;
}

div.to{
	margin-bottom:20px;
}

#map_container {
	position:relative;
	width : 600px;
	height : 300px;
	padding:0px;
	box-shadow: 0px 0px 5px 0px #999;
	float:right;
}

div.rides-loading {
	opacity : 0;
	padding : 20px;
}

div.rides-loading > div {
	margin : 5px 0px;
}

#rides_list {
	float:none;
	display:none;
	padding : 0px;
>>>>>>> 727502d3f97551059bcefb319d1288578cfa3432
}