body {
	padding :0px;
	margin: 0px;
	font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,verdana,arial,sans-serif;
	background : #DDD;
	font-size:12px;
}

header {
	background: #001337 url('back.png');
	color : #333;
	width: 100%;
	height : 40px;
	box-shadow: 0px 2px 5px 1px #111;
	margin-bottom:30px;
	border-bottom : 1px solid #000;
	font-weight:bold;
}

div.centerbox {
	width :1000px;
	margin : auto;
	text-align:left;
}

#container {
	padding : 10px;
	background: #EEE;
	box-shadow : 0px 0px 10px 2px;
}

div.mm-logo {
	float:left;
	padding : 10px 0px;
}
div.mm-settings {
	float:right;
	padding : 10px 0px;
}