body {
	padding :0px;
	margin: 0px;
	font-family: verdana, helvetica, arial,sans-serif;
	/*background : url('back.png') #FFF;*/
	font-size:12px;
	overflow-y:scroll;
	overflow-x : hidden;
	color: #333;
}

header {
	color : #333;
	width: 1000px;
	margin-bottom:10px;
	font-weight:bold;
	padding: 0px;
	margin: auto auto 10px;
	text-align:center;
}

input[type='text'] {
	margin:0px;
	border:0px;
	padding:5px;
	width: 193px;
	border:1px solid #999;
	border-radius: 5px;
	background: #FFF;
	background: -moz-linear-gradient(top,    #EFF7F1, #FFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF7F1), to(#FFFFFF));
	box-shadow:inset 0px 0px 2px 1px #DDD;
}

textarea {
	margin:0px;
	border: 1px solid  #999;
	padding:5px;
	border-radius: 5px;
	background: -moz-linear-gradient(top,    #EFF7F1, #FFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5FDF5), to(#FFFFFF));
	box-shadow:inset 0px 0px 3px 2px #CCC;
}

a {
	padding: 0px 10px;
	color:#003556;
	font-weight:normal;
	text-decoration:none;
}

a:hover {
	color: #007AD0;
}

button {
	border:0px;
	margin:10px;
	border-radius:0px;
	padding: 0px 10px;
	cursor:pointer;
	color: #FFF;
	background: #4E84C5;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	border-radius:4px;
	font-size:16px;
	font-family : Ariel;
	font-weight:bold;
}

button.blue-button {
	float:left;
	line-height:16px;
	padding:10px;
	background:#56A9F5;
	background: -moz-linear-gradient(center top , #56A9F5, #2065B7) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#56A9F5), to(#2065B7));
}

button.blue-button:hover {
	background: #89C6FF;
	background: -moz-linear-gradient(center top , #89C6FF, #2065B7) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#89C6FF), to(#2065B7));
}

button.blue-button:active {
	background:#56A9F5;
	background: -moz-linear-gradient(center top , #56A9F5, #2065B7) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#56A9F5), to(#2065B7));
	cursor:pointer;
}

button.black-button {
	float:left;
	line-height:16px;
	padding:10px;
	background:#333;
	background: -moz-linear-gradient(top,  #555,  #000E00);
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#000E00));
}

button.black-button:hover {
	background: #111;
	background: -moz-linear-gradient(top,  #777,  #000E00);
	background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#000E00));
}

button.black-button:active {
	background: #555;
	background: -moz-linear-gradient(top,  #555,  #000E00);
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#000E00));
	cursor:pointer;
}

button.green-button {
	float:left;
	line-height:16px;
	padding:10px;
	background: #74D639;
	background: -moz-linear-gradient(center top , #74D639, #2A8013) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#74D639), to(#2A8013));
}
button.green-button:hover {
	background: #92E75F;
	background: -moz-linear-gradient(center top , #92E75F, #2A8013) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#92E75F), to(#2A8013));
}

button.green-button:active {
	background: #74D639;
	background: -moz-linear-gradient(center top , #74D639, #2A8013) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#74D639), to(#2A8013));
	cursor:pointer;
}

button.orange-button {
	float:left;
	line-height:16px;
	padding:10px;
	background: #fab619;
	background: -moz-linear-gradient(center top , #fab619, #AD8324) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#fab619), to(#AD8324));
}

button.orange-button:hover {
	background: #FFCE5F;
	background: -moz-linear-gradient(center top , #FFCE5F, #AD8324) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCE5F), to(#AD8324));
}

button.orange-button:active {
	background: #fab619;
	background: -moz-linear-gradient(center top , #fab619, #AD8324) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#fab619), to(#AD8324));
	cursor:pointer;
}



#page {
	text-align:right;
	margin: 75px auto 25px auto;
	font-size:14px;
}

div.logo {
	margin: 50px auto;
}

div.menu {
	padding: 10px 5px;
	text-align:center;
}

div.input-label {
	padding: 0px 10px;
	width:55px;
	float:left;
	margin:0px;
	color:#FFF;
	background:#333;
	border-radius: 5px 0px 0px 5px;
	line-height:28px;
	background : -moz-linear-gradient(center top , #777, #333) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#333));	
}

div.input-label:before, div.input-label:after {
	content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

div.centerbox {
	width :1000px;
	margin : auto;
	text-align:left;
}

div.mm-logo {
	background: url('logo.png');
	height:100px;
	width:400px;
	margin: auto;
}

div.mm-settings {
	float:right;
	padding : 10px 0px;
}

div.content-container{
	overflow:hidden;
}
div.content-header {
	background: #999;
	height: 30px;
}
div.content-body {
    padding: 10px;
	overflow:hidden;
}

div.copyright {
	text-align:center;
	color: #333;
	font-size:12px;
}

div.h-separator{
	width: 75%; 
	height:2px; 
	background:#CCC;
	margin: 75px auto 5px auto;
}

/* Sign in */

#sign_in {
	float:none;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 5px;
}

#sign_in_dropdown {
	width: 200px;
	height:60px;
	position:absolute;
	background:#EEE;
	z-index:1px;
	box-shadow: 0px 0px 3px 1px #666;
	display:none;
	border-radius: 5px;
	text-align:center;
}

#linked_in_auth {
	margin: 10px auto;
	padding:0px;
}

/* Sign in End */

div.loadbar {
	height : 15px;
	background : no-repeat center center url('loadbar.gif');
}

.hidden {
	display:none;
}

div.sign-in-buttons {
	margin: 10px auto;
	
}
.whitebox {
	margin:20px; 
	border:1px solid #DDD;
	background:#FFF;
	padding:20px;
	text-align:center;
	box-shadow: inset 0px 0px 5px 0px #999;
	overflow:hidden;
}

div.splash-header {
	width:75%;
	text-align:right;
	margin:auto;
}

.fnone {
	float:none;
}
