<div class="rides-display">
	<div class="rides-header">Matching rides for <a id="from_link" class="loc-link" href="#from_link"><%= @from_string %></a> to <a id="to_link" class="loc-link" href="#to_link"><%= @to_string %></a></div>
	<div class="ride">
	<div>
	<% @rides.each do |ride| %>
		<div class="ride">
		<div>
	<% end %>

</div>
