<div class="rides-display">
	<div class="rides-header">
		Posting a ride from <a id="from_link" class="loc-link" href="#from_link"><%= @request[:from_string] %></a> to <a id="to_link" class="loc-link" href="#to_link"><%= @request[:to_string] %></a>
	</div>
</div>